

@font-face {
    font-family: CreativeMind;
    src: url(../fonts/creative_mind.woff) format("woff");
    src: url(../fonts/creative_mind.woff2) format("woff2");
}

.main-content{
    display:grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-gap:30px;
    padding:100px $main_margin;
    justify-content: center;
    background-color: $primary_color;

    @include breakpoint(tablet){
        grid-template-columns: repeat(auto-fit, 340px);
        grid-gap:10px;
    }

    @include breakpoint(mobile){
        width:100%;
        grid-template-columns: 1;
        grid-auto-rows:auto;
        grid-gap:0;
        grid-row-gap:10px;
        padding:100px 5% 40px;
    }

    .product-name{
        font-size:fontSize(level_3);
        font-weight:300;
        grid-column: span 2;

        @include breakpoint(mobile){
            grid-column: 1;
            padding-left:8px;
            font-size:fontSize(level_4);
        }
    }
}


//-------------------
// Image wrapper
.wrapper{
    grid-column: 1;
    @include flex_center;
    gap:4rem;
    padding:20px 20px 60px;
    background-color: #fff;
    border-radius:12px;
    position:relative;

    @include breakpoint(tablet){
        gap:10px;
    }

    .zap-btn{
        width: 40px;
        height: 40px;
        min-width: 40px;
        border-radius: 50%;
        font-size: fontSize(normal);

        &:hover{
            color:$accent_color;
            background-color: #f1f1f1;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        }
    }

    .image-container{
        @include flex_start;
        width:200px;
        height:230px;
        max-width: 300px;
        overflow-x: hidden;
        scroll-behavior: smooth;

        @include breakpoint(mobile){
            overflow-x: scroll;
        }
    
        img{
            // width:100%;  // These don't work in Firefox, don't know why.
            // height:100%; 
            width:200px;
            height:230px;
            object-fit: cover;
        }
    }

    .nav-btns{
        @include flex_center;
        gap:8px;
        position:absolute;
        bottom:24px;

        .nav-btn{
            width:24px;
            height:6px;
            border-radius: 3px;
            background-color:darken($primary_color, 10);
        }

        .nav-btn.active{
            background-color: $accent_color;
        }
    }
}


//-------------------
// Main product details 
.product-main-details{
    grid-column: 1;
    @include flex_center(column);
    gap:16px;
    background-color: #fff;
    border-radius: 12px;
    padding:24px;

    @include breakpoint(mobile){
        gap:8px;

        .btn{
            margin-top:12px;
            width:100%;
        }
    }
    
    .detail{
        @include flex_start;
        gap:12px;
        background-color: lighten($color: $accent_color, $amount: 40);
        font-size: fontSize(normal);
        padding: 4px 16px;
        border-radius: 4px;
        width:100%;

        i{
            font-size: fontSize(normal);
        }

        p:nth-last-child(1){
            min-width: 104px;
            margin-left: auto;
            background-color: #fff;
            font-weight: 700;
            padding:4px 8px;
            border-radius: 4px;
        }
    }
}


//-------------------
// Product pay info
.product-info{
    grid-column: 2;
    grid-row: 2 / span 2;

    @include flex_start(column);
    gap:32px;
    background-color: #fff;
    border-radius: 12px;
    padding:24px;

    @include breakpoint(mobile){
        grid-column: 1;
        grid-row: 4;
        gap:16px;
    }

    h3, p{
        font-size: fontSize(normal);
        color:$secondary_color;
    }

    .specifications{
        display:flex;
        flex-wrap: wrap;
        gap:16px;
        width:100%;
    }
}

.product-info .spec{
    font-size: 1.4rem;
    padding:12px;
    background-color: rgba(33, 149, 243, 0.1);
    border-radius:8px;
    border-left:4px solid $accent_color;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

    @include breakpoint(tablet){
        width:100%;
    }

    span{
        display: block;
        font-size: fontSize(normal);
        font-weight: 700;
    }

    &:nth-child(1){
        background-color: rgba(33, 149, 243, 0.1);
        border-left-color:#2196F3;
        span{
            color:#2196F3;
        }
    }

    &:nth-child(2){
        background-color: rgba(0, 173, 43, 0.1);
        border-left-color:#00ad2b;
        span{
            color:#00ad2b
        }
    }

    &:nth-child(3){
        background-color: rgba(173, 0, 158, 0.1);
        border-left-color:#ad009e;
        span{
            color:#ad009e
        }
    }
}

.product-info .price-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width:100%;
    padding:12px;
    border:1px solid $primary_color;
    background-color: #fff;
    border-bottom:4px solid #2196F3;
    border-radius:8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

    .price .amount{
        font-size: fontSize(level_3);
    }
}

.product-info .choose-colors{
    @include flex_start;
    gap:12px;
    padding:32px 0;

    label{
        @include flex_center(column);
        cursor:pointer;
        font-size:fontSize(normal);
        position:relative;
        max-width: 100px;

        img{
            width:100px;
            height:100px;
            object-fit: contain;
            border:2px solid #eee;
            border-radius: 4px;
            padding:8px;

            @include breakpoint(mobile){
                width:90px;
                height: 90px;
            }

            &:hover{
                border-color:#ccc;
            }

            &:hover ~ .checkmark{
                background-color: #ccc;
            }

            &:hover ~ .checkmark::after{
                display: block;
                border-color: #f2f2f29c;
            }
        }

        // Custom checkmark for input:radio
        .checkmark {
            position: absolute;
            top: 3px;
            right: 3px;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 50%;

            &::after{
                content:"";
                position:absolute;
            }
        }
    }

    label input{
        position:absolute;
        opacity:0;

        &:checked ~ .checkmark{
            background-color: $accent_color;
        }

        &:checked ~ img{
            border-color:$accent_color;
            border-width:2px;
        }
    }

    label input[type=radio] ~ .checkmark::after{
        display: block;
        left: 4px;
        top: 4px;
        width: 12px;
        height: 12px;
        border: solid;
        border-width: 3px;
        border-color: #eee;
        border-radius:50%;
    }
}

.product-info .finalize{
    @include flex_start(column);
    gap:20px;

    input[type=number]{
        font-size:fontSize(normal);
        border:2px solid $secondary_color;
        border-radius: 8px;
        padding:8px;
    }
    
    .total-amount{
        font-weight: 700;
        font-size: fontSize(level_4);
    }

    .btn{
        width: 100%;
        justify-self: center;
    }
}


//-------------------
//All product details
.all-product-details{
    grid-column: 1 / span 2;
    background-color: #fff;
    border-radius: 12px;
    padding:24px;
    font-size: 1.8rem;

    display:grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    grid-gap:16px;

    @include breakpoint(mobile){
        grid-column: 1;
    }

    ul{
        @include breakpoint(mobile){
            width:100%;
        }
    }

    ul li{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-column-gap:12px;
        justify-content: center;
        padding:4px;
        border-radius:4px;
        font-size: fontSize(normal);

        span:nth-child(2){
            font-weight: 300;
        }
    }

    ul li:nth-child(1){
        display: block;
        color:$accent_color;
        font-weight: 700;
    }

    ul li:nth-child(even){
        background-color: lighten($accent_color, 46);
    }
}