@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

input[type=reset],
input[type=submit],
input[type=button],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 62.5%;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  min-width: 150px;
  height: 50px;
  padding: 8px 32px;
  border-radius: 30px;
  font-size: 1.6rem;
  transition: color 0.2s, background-color 0.2s, font-weight 0.2s;
}
.btn-default {
  color: #fff;
  background-color: #f18100;
}
.btn-default:hover {
  background-color: #e27900;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.btn-outline {
  color: #f18100;
  background-color: #fff;
  border: 2px solid #f18100;
}
.btn-outline:hover {
  color: #f1f1f1;
  background-color: #f18100;
  font-weight: 600;
}
.btn i {
  margin: 0 12px;
  font-size: 2.4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  border-bottom: 4px inset #f18100;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 2rem 5%;
  }
}
.navbar .nav-brand {
  font-weight: 300;
  font-size: 3.4rem;
}
@media screen and (max-width: 480px) {
  .navbar .nav-brand {
    font-size: 2.4rem;
  }
}
.navbar .nav-brand span:nth-child(1) {
  color: #f18100;
  font-weight: 900;
}
.navbar .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 50px;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu {
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .navbar .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 90vh;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: 75px;
    right: 0;
    transform: translateX(100%) scale(0);
    transition: transform 0.2s;
  }
  .navbar .nav-menu--show {
    border-radius: 0;
    transform: translateX(0) scale(1);
    z-index: 10;
  }
}
.navbar .nav-menu .nav-link {
  transition: color 0.2s ease-in;
}
.navbar .nav-menu .nav-link.active {
  color: #f18100;
  font-weight: 700;
}
.navbar .nav-menu .nav-link:hover {
  color: #f18100;
}
.navbar .mobile-icons {
  font-weight: 700;
  font-size: 2.4rem;
  display: none;
}
@media screen and (max-width: 480px) {
  .navbar .mobile-icons {
    position: relative;
    display: flex;
    gap: 32px;
  }
  .navbar .mobile-icons .cart-counter {
    left: 20px;
    top: -2px;
    font-weight: 400;
  }
}

.nav-link.cart {
  position: relative;
}

.cart-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(3, 167, 3);
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  top: -4px;
  right: -16px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 1.6rem;
  text-align: center;
  background-color: #333;
  padding: 40px;
  font-weight: 300;
}
footer * {
  color: #f1f1f1;
}
footer a {
  transition: color 0.2s;
}
footer a:hover {
  color: #f18100;
}
footer p.creative-mind {
  font-family: CreativeMind;
  font-size: 3.4rem;
  opacity: 0.5;
}

@font-face {
  font-family: CreativeMind;
  src: url(../fonts/creative_mind.woff) format("woff");
  src: url(../fonts/creative_mind.woff2) format("woff2");
}
.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-gap: 30px;
  padding: 100px 10%;
  justify-content: center;
  background-color: #F3F3F3;
}
@media screen and (max-width: 768px) {
  .main-content {
    grid-template-columns: repeat(auto-fit, 340px);
    grid-gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .main-content {
    width: 100%;
    grid-template-columns: 1;
    grid-auto-rows: auto;
    grid-gap: 0;
    grid-row-gap: 10px;
    padding: 100px 5% 40px;
  }
}
.main-content .product-name {
  font-size: 3.4rem;
  font-weight: 300;
  grid-column: span 2;
}
@media screen and (max-width: 480px) {
  .main-content .product-name {
    grid-column: 1;
    padding-left: 8px;
    font-size: 2.4rem;
  }
}

.wrapper {
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 20px 20px 60px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .wrapper {
    gap: 10px;
  }
}
.wrapper .zap-btn {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  font-size: 1.6rem;
}
.wrapper .zap-btn:hover {
  color: #f18100;
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.wrapper .image-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 200px;
  height: 230px;
  max-width: 300px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media screen and (max-width: 480px) {
  .wrapper .image-container {
    overflow-x: scroll;
  }
}
.wrapper .image-container img {
  width: 200px;
  height: 230px;
  object-fit: cover;
}
.wrapper .nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 24px;
}
.wrapper .nav-btns .nav-btn {
  width: 24px;
  height: 6px;
  border-radius: 3px;
  background-color: #dadada;
}
.wrapper .nav-btns .nav-btn.active {
  background-color: #f18100;
}

.product-main-details {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
}
@media screen and (max-width: 480px) {
  .product-main-details {
    gap: 8px;
  }
  .product-main-details .btn {
    margin-top: 12px;
    width: 100%;
  }
}
.product-main-details .detail {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  background-color: #ffe1be;
  font-size: 1.6rem;
  padding: 4px 16px;
  border-radius: 4px;
  width: 100%;
}
.product-main-details .detail i {
  font-size: 1.6rem;
}
.product-main-details .detail p:nth-last-child(1) {
  min-width: 104px;
  margin-left: auto;
  background-color: #fff;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 4px;
}

.product-info {
  grid-column: 2;
  grid-row: 2/span 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
}
@media screen and (max-width: 480px) {
  .product-info {
    grid-column: 1;
    grid-row: 4;
    gap: 16px;
  }
}
.product-info h3, .product-info p {
  font-size: 1.6rem;
  color: #333;
}
.product-info .specifications {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.product-info .spec {
  font-size: 1.4rem;
  padding: 12px;
  background-color: rgba(33, 149, 243, 0.1);
  border-radius: 8px;
  border-left: 4px solid #f18100;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .product-info .spec {
    width: 100%;
  }
}
.product-info .spec span {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
}
.product-info .spec:nth-child(1) {
  background-color: rgba(33, 149, 243, 0.1);
  border-left-color: #2196F3;
}
.product-info .spec:nth-child(1) span {
  color: #2196F3;
}
.product-info .spec:nth-child(2) {
  background-color: rgba(0, 173, 43, 0.1);
  border-left-color: #00ad2b;
}
.product-info .spec:nth-child(2) span {
  color: #00ad2b;
}
.product-info .spec:nth-child(3) {
  background-color: rgba(173, 0, 158, 0.1);
  border-left-color: #ad009e;
}
.product-info .spec:nth-child(3) span {
  color: #ad009e;
}

.product-info .price-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 12px;
  border: 1px solid #F3F3F3;
  background-color: #fff;
  border-bottom: 4px solid #2196F3;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.product-info .price-container .price .amount {
  font-size: 3.4rem;
}

.product-info .choose-colors {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding: 32px 0;
}
.product-info .choose-colors label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
  max-width: 100px;
}
.product-info .choose-colors label img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 2px solid #eee;
  border-radius: 4px;
  padding: 8px;
}
@media screen and (max-width: 480px) {
  .product-info .choose-colors label img {
    width: 90px;
    height: 90px;
  }
}
.product-info .choose-colors label img:hover {
  border-color: #ccc;
}
.product-info .choose-colors label img:hover ~ .checkmark {
  background-color: #ccc;
}
.product-info .choose-colors label img:hover ~ .checkmark::after {
  display: block;
  border-color: rgba(242, 242, 242, 0.6117647059);
}
.product-info .choose-colors label .checkmark {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.product-info .choose-colors label .checkmark::after {
  content: "";
  position: absolute;
}
.product-info .choose-colors label input {
  position: absolute;
  opacity: 0;
}
.product-info .choose-colors label input:checked ~ .checkmark {
  background-color: #f18100;
}
.product-info .choose-colors label input:checked ~ img {
  border-color: #f18100;
  border-width: 2px;
}
.product-info .choose-colors label input[type=radio] ~ .checkmark::after {
  display: block;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  border: solid;
  border-width: 3px;
  border-color: #eee;
  border-radius: 50%;
}

.product-info .finalize {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.product-info .finalize input[type=number] {
  font-size: 1.6rem;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 8px;
}
.product-info .finalize .total-amount {
  font-weight: 700;
  font-size: 2.4rem;
}
.product-info .finalize .btn {
  width: 100%;
  justify-self: center;
}

.all-product-details {
  grid-column: 1/span 2;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  grid-gap: 16px;
}
@media screen and (max-width: 480px) {
  .all-product-details {
    grid-column: 1;
  }
}
@media screen and (max-width: 480px) {
  .all-product-details ul {
    width: 100%;
  }
}
.all-product-details ul li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;
  font-size: 1.6rem;
}
.all-product-details ul li span:nth-child(2) {
  font-weight: 300;
}
.all-product-details ul li:nth-child(1) {
  display: block;
  color: #f18100;
  font-weight: 700;
}
.all-product-details ul li:nth-child(even) {
  background-color: #ffefdd;
}