

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem $main_margin;
    border-bottom:4px inset $accent-color;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    
    position:fixed;
    width:100%;
    z-index: 100;

    @include breakpoint(tablet){
        padding:2rem 5%;
    }

    .nav-brand{
        font-weight:300;
        font-size:fontSize(level_3);

        @include breakpoint(mobile){
            font-size: fontSize(level_4);
        }

        span:nth-child(1){
            color:$accent_color;
            font-weight: 900;
        }
    }

    .nav-menu{
        @include flex_center;
        list-style-type: none;
        gap:50px;
        font-size: fontSize(normal);

        @include breakpoint(tablet){
            gap:20px;
        }

        @include breakpoint(mobile){
            @include flex_center(column);
            font-size: fontSize(level_4);
            background-color: rgba(255, 255, 255, 0.95);
            width: 100%;
            height:90vh;
            border-top-left-radius: 100%;
            border-bottom-left-radius: 100%;
            position:absolute;
            top:75px;
            right:0;
            
            transform: translateX(100%) scale(0);
            transition: transform $transition_duration;
    
            &--show{
                border-radius:0;
                transform: translateX(0) scale(1);
                z-index:10; 
            }
        }
    }

    .nav-menu .nav-link{
        transition: color $transition_duration ease-in;

        &.active{
            color:$accent-color;
            font-weight: 700;
        }

        &:hover{
            color:$accent-color;
        }
    }

    .mobile-icons{
        font-weight: 700;
        font-size: fontSize(level_4);
        display: none;

        @include breakpoint(mobile){
            position:relative;
            display: flex;
            gap:32px;

            .cart-counter{
                left:20px;
                top:-2px;
                font-weight: 400;
            }
        }
    }
}

.nav-link.cart{
    position:relative;
}

.cart-counter{
    @include flex_center;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: rgb(3, 167, 3);
    color:#fff;
    font-size: fontSize(normal);

    position:absolute;
    top:-4px;
    right:-16px;
}